spring:
    application:
        name: spring-asissted
#    Use this if to run this app locally
    datasource:
        url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/spring-blog-db}
        username: ${SPRING_DATASOURCE_USERNAME:root}
        password: ${SPRING_DATASOURCE_PASSWORD:supersecretpassword}
        driver-class-name: com.mysql.cj.jdbc.Driver
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MySQLDialect
    security:
        user:
            name: admin
            password: password
management:
    endpoints:
        web:
            exposure:
                include: "*"
    endpoint:
        health:
            show-details: always
        metrics:
            enabled: true
jwt:
    secret: "v6yB8p98p9zB6X5y8p9zB6X5y8p9zB6X5y8p9zB6X5y8p9zB6X5y8p9zB6X5y8p9zB6X5y8p9zB6X5y8p"
    expiration: 86400000 # 24 hours

